<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mankomaniaclient">

    <!-- Erlaubt das Senden und Empfangen von Daten übers Netzwerk -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         Setzt die Cleartext-Kommunikation (HTTP/ws) auf "true",
         damit ws://9.0.2.2:8080 zulässig ist.
         (Ab Android 8/Pie ist dies standardmäßig verboten.)
    -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mankomaniaclient"
        android:usesCleartextTraffic="true"
        tools:targetApi="30">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mankomaniaclient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>

